html, body {
    margin: 0px;
    height: 100%;
    background-color: grey;
    display: flex;
    justify-content: center;
}

.outer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
  
.sketchbox {
    width: 24rem;
    height: 24rem;
    display: grid;
}

.pixel {
      background-color: white;
     
}

.hover {
    background-color: red;
}

button {
    margin-bottom: 8rem;
}

.settings {
    display: flex;
    flex-direction: column;
}