html, body {
    margin: 0px;
    height: 100vh;
    background-color: grey;
}

button {
    width: 6rem;
    background-color: navy;
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.outer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
  
.sketchbox {
    width: 24rem;
    height: 24rem;
    display: grid;
}

.pixel {
      background-color: white;
     
}





.settings {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 2rem;
    justify-content: center;
}

.settings button {
    margin-bottom: 4rem;
}